.content {
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    justify-content: center;
    align-items: center;
    width: 100%;
}

.title{
    font-size: 25px;
    padding-top: 70px;
    width: 98%;
}

.template{
    padding-top: 25px;
    width: 98%;
    display: flex;
    justify-content: space-between;
}

.template .card div{
    width: 47%;
}

.template .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    border-radius: 10px;
    width: 56%;
    height: 50vh;
    padding: 20px;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0,0,0,0.2);
}

.template .card input{
    display: flex;
    width: 97%;
    height: 30px;
    margin-top: -20px;
    font-size: 20px;
}

.template .card label{
    color: black;
    margin: 10px 10px 20px -13px;
}

.template .createImg{
    border-radius: 10px;
    width: 35%;
    height: 40vh;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0,0,0,0.2);
}

.submite{
    display: flex;
    align-items: end;
    width: 98%;
    height: 10vh;
}

.submite button{
    height: 40px;
    width: 8%;
    border-radius: 10px;
    border: none;
    background-color: rgb(189, 2, 2);
    color: white;
    cursor: pointer;
}

.submite button:hover{
    background-color: rgb(189, 2, 2, 0.8);
}

.template .createImg p{
    display: flex;
    align-items: center;
    width: 92%;
    height: 4vh;
    background-color: rgba(146, 146, 146, 0.342);
    margin: 10px;
    border-radius: 5px;
    padding: 7px;
    color: rgba(146, 146, 146, 0.733);
}